<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/HibernateTask</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<mapping class="hibernateTask.Categories" />
		<mapping class="hibernateTask.SubCategories"/>
		<mapping class="hibernateTask.Brands" />
		<mapping class="hibernateTask.Product" /> 
		<mapping class="hibernateTask.ProductDetails" />
		<mapping class="hibernateTask.UserDetails" />
		<mapping class="hibernateTask.OrdersDetails" />
		<mapping class="hibernateTask.SellerInformation" />
		<mapping class="hibernateTask.Payments" />
		<mapping class="hibernateTask.PaymentOptions" />
		<mapping class="hibernateTask.Delievery" />
		<mapping class="hibernateTask.Feedback" />
		<mapping class="hibernateTask.Complain" />
		<mapping class="hibernateTask.RefundOrReplace" />
		<mapping class="hibernateTask.Offers" />
		<!--<mapping class="hibernateTask.Carts" /> -->
		
	</session-factory>
</hibernate-configuration>